html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.main-head{
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.blog-list{
    width: 980px;
    margin: 15px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.blog-list .heading{
    border-bottom: solid;
    border-color: #1d1d1f;
    border-width: 1px;
    font-size: 20px;
    padding-bottom: 5px;
}
.blog-list .heading h1{
    margin: 0;
}
.blog-teaser-container{
    display: none;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: solid;
    border-color: #1d1d1f;
    border-width: 3px;
}
.blog-teaser:first-of-type{
    padding-bottom: 10px;
    padding-top: 0px;
    border-bottom: solid;
    border-color: #1d1d1f;
    border-width: 3px !important;
}
.blog-teaser:last-of-type{
    padding-bottom: 0px;
    padding-top: 15px;
    border-bottom: none;
}
.text-div{
    width: 100%;
}
.text-div a h2{
    color: rgba(224, 224, 224, 0.938);
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0;
}
.text-div a:hover h2, .text-div a:focus h2{
    color: white;
}
.p-teaser{
    font-size: 15px;
    margin-bottom: 3px;
    color: #919191;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
}
.read-more-button{
    font-size: 15px;
    color: #2997ff;
}
.read-more-button:hover, .read-more-button:focus{
    text-decoration: underline;
}
#loadMore{
    width: 175px;
    font-size: 22px;
    background-color: #007aff;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid transparent;
}
#loadMore:hover, #loadMore:focus{
    background-color: #007bffd3;
}
.info{
    text-align: right;
    color: #707070;
    font-size: 14px;
}
.seperator{
    color: lawngreen;
}
.blog-thumbnail{
    pointer-events: all;
}

@media screen and (max-width: 1024px) {
    .main-head{
        max-width: 1100px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .blog-list{
        width: 90%;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 950px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-head{
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }
    .blog-list{
        width: 100%;
        padding: 0;
        margin-bottom: 10px !important;
        margin: 0;
    }
    .blog-list .heading{
        font-size: 15px;
    }
    .text-div h2{
        font-size: 19px;
        min-height: 0px !important;
        padding-bottom: 5px;
    }
    .p-teaser{
        display: inline;
        margin: 0;
        margin-top: 7px;
        font-size: 15px;
        color: #919191;
        -webkit-line-clamp: calc(3/2);
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
    }
    #loadMore{
        width: 125px;
        font-size: 17px;
        background-color: #007aff;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 5px 10px;
        border-radius: 50px;
        border: 1px solid transparent;
    }
    .info{
        padding-top: 3px;
        width: 100%;
    }
    .author{
        font-size: 12px;
    }
    .updated{
        font-size: 12px;
    }
    .side-col{
        width: 100%;
        padding: 0;
        margin-top: 30px !important;
        margin: 0;
    }
    .author-intro{
        background-color: #1b1b1f;
        padding: 8px;
        display: flex;
    }
    .author-img{
        width: 45%;
    }
    .author-description{
        width: 55%;
        padding-left: 7px;
    }
    .author-name{
        font-size: 23px;
    }
}