html{
    background-color: #1d1d1f;
    list-style-type: none;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.maindiv{
    max-width: 980px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.maindiv a h1{
    font-size: 21px;
    color: white;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
}
.main-head a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    z-index: 99999999999;
}
a.category-header-link{
    color: white;
}
.category-header:hover{
    color: white;
    text-decoration: underline;
}
.category-letter, .category-debate, .category-essay, .category-speech, .category-notice{
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-width: 1px;
    padding-bottom: 20px;
}
.list{
    max-width: 980px;
    width: 100%;
    column-count: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
.list ul li a{
    color: #2997ff;
    line-height: 25px;
}
.list ul li a:hover{
    text-decoration: underline;
}
.list li ul li{
    padding-bottom: 14px;
}
.links{
    display: flex;
    margin-top: 20px;
}
.links h2{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.links a:hover{
    text-decoration: underline;
}  
.links a{
    color: #2997ff;
    font-size: 17px;
    line-height: 25px;
}
.col1, .col2, .col3{
    width: 33.33%;
}

@media screen and (max-width: 1023px) and (min-width: 824px){
    .maindiv{
        max-width: 980px;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 823px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .maindiv{
        width: 90%;
    }
    .maindiv a h2{
        font-size: 21px;
        color: white;
        padding-bottom: 5px;
        border-width: 1px;
        margin-bottom: 20px;
    }
    .list{
        column-count: 1;
    }
    .list ul{
        display: block;
        width: 100%;
    }
    .links{
        display: list-item;
        padding: 0;
        margin-top: 0px;
    }
    .col1, .col2, .col3{
        width: 100%;
        padding: 20px 0;
        border-bottom-style: solid;
        border-bottom-color: rgb(51, 51, 51);
        border-width: 1px;
    }
    .col3{
        padding-bottom: 0;
        border: none;
    }
    .links h2{
        font-size: 21px;
    }
    .links div div{
        display: inline-block;
        column-count: 2;
        width: 48%;
        color: #2997ff;
        font-size: 19px;
        line-height: 30px;
    }
}