html{
    background-color: #1d1d1f;
}
body{
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.main-head{
    max-width: 980px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.heading{
    font-size: 20px;
    padding-bottom: 5px;
}
.heading .heading-text{
    font-size: 56px;
    margin: 0;
}
.main-blog-div{
    color: #f5f5f7;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #1d1d1f solid 2px;
    padding-bottom: 20px;
}
.main-blog-div .info{
    font-size: 14px;
    line-height: 1.4;
    color: #6e6e73;
    letter-spacing: -.01em;
    margin-bottom: 13px;
}
.blog-text p{
    font-size: 19px;
    line-height: 1.4211;
    letter-spacing: 0.5px;
}
.blog-text p:last-of-type{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 0px;
}
p a{
    color: #2997ff;
    letter-spacing: 0px;
}
p a:hover{
    text-decoration: underline;
}
code{
    color: rgb(117, 238, 93);
    background-color: #312d2d;
    padding: 2px;
    font-size: 17px !important;
    font-family: font-mono;
}
.p-heading{
    margin-bottom: 0 !important;
    padding-bottom: 5px;
}
.seperator{
    color: lawngreen;
}

/* Mobiles and some tabs */
@media screen and (max-width: 813px) {
    html{
        background-color: #1d1d1f;
        margin: 0px;
        padding: 0px;
    }
    body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .main-head{
        width: 92%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        margin-top: 20px;
    }
    .main-blog-div{
        width: 95%;
    }
    .heading  .heading-text{
        font-size: 32px;
    }
    .info{
        padding-bottom: 15px;
        width: 100%;
        text-align: left;
        color: #929292;
        font-size: 15px;
    }
    .blog-text p{
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .blog-text p:last-of-type{
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 0px;
    }
    .p-heading{
        font-size: 19px;
    }
    ol, ul{
        font-size: 17px;
        margin: 0 !important;
        padding-left: 20px;
        padding-top: 0;
    }
    .screenshots img{
        width: 49.1% !important;
    }
    #author-container{
        width: 100%;
    }
}