.side-col{
    width: 25%;
    padding: 5px;
    margin: 15px;
}
.side-col img{
    width: 100%;
}
.author-intro{
    background-color: #1b1b1f;
    padding: 8px;
}
.author-description{
    padding-top: 5px;
}
.author-name{
    font-size: 28px;
}