#link-nav.essay{
    font-weight: bold;
    color: white;
}
#link-nav.essay::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    transition: width 0.2s ease-out;
    background-color: lawngreen;
}