@font-face{
    font-family: "font-regular";
    src: url('/resources/first-page/fonts/font.otf');
}
@font-face{
    font-family: "font-bold";
    src: url('/resources/first-page/fonts/font-bold.otf');
}
@font-face{
    font-family: "font-italic";
    src: url('/resources/first-page/fonts/font-italic.otf');
}
@font-face{
    font-family: "font-condensed";
    src: url('/resources/first-page/fonts/font-compact.otf');
}

body{
    font-family: font-regular !important;
}
b{
    font-family: font-bold !important;
}